


/* ----------- Fonts -----------*/




a, a:link, a:visited, a:hover, a:active   
{
    color:#95a7bc;
    text-decoration: underline;
}



body, html
{
	
	margin: 0;
	padding: 0;
	height:100%;
	
	font-family:PonyFont, Equestria, Helvetica, Arial, sans-serif;
	color:#000000;
	
	background:#ffffff;
	
}

#stage
{
	position: absolute;
	width:100%;
	height:100%;
	max-width: 888px;
	max-height: 500px;
	background-color: #000000;
	padding:0px;
	margin:0px;
	overflow: hidden;

}

#scenes
{
	list-style:none;
	display:inline-block;
	background-color: grey;
	padding:0px;
	margin:0px;
	position: absolute;
	
}

#scenes01
{
	list-style:none;
	display:inline-block;
	background-color: grey;
	padding:0px;
	margin:0px;
	position: absolute;
	
}

.scene
{

	/*width:100%;
	height:100%;*/
	max-width: 888px;
	max-height: 500px;

	padding: 0px;
	margin:0px;
	float:left;
	position: relative;
}

#start_screen
{

	position: absolute;
	z-index: 1;
	background:brown;

}

#scene_1
{
	background: blue;

}

#scene_2
{
	background: pink;

}

#scene_3
{
	background: blue;

}

.scene_content
{
	width:100%;
	height:100%;
	max-width: 888px;
	max-height: 500px;
	padding: 0px;
	margin:0px;
	overflow: hidden;

}


.transition
{

    -webkit-transition:-webkit-transform 2000ms linear;
    -ms-transition:-ms-transform 2000ms linear;
   	transition:transform 2000ms linear;
	
}

.scene_content img
{
	/* this may need to come out once we switch imgs depending on screen size*/
	/*min-width: 400px;*/ /* this means the image will be sized down for smaller screens, but not completely */
	width:100%;
	height:100%;
	padding: 0px;
	margin:0px;


}

.scene_content p 
{
	position: absolute;
	top:2%;
	left:2%;
	font-size: 22px;
}

.close
{
	position: absolute;
	right:2%;
	width:40px;
	height:40px;
	color: white;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.close:after
{
	content: "➜";
	font-size: 26px;
	display: block;
	position: relative;
	text-align: center;
	line-height: 44px;
    width: 100%;

}

.controls
{
	position: absolute;
	display: none;
	margin:3%;
	right:0px;
	width:100px;
	height:43px;
	color: white;
	background-color: rgba(65, 32, 108, 0.75);
	border-radius: 20px;
	padding: 5px;
	z-index:2;
}

.story_btn
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: rgba(225, 135, 76, 0.75);
	border-radius: 20px;
	margin-left: 4px;
}

/*
.story_btn:after
{
	content: "☷";
	display: block;
	position: relative;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
    width: 100%;

}
*/

.choose_btn
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: rgba(78, 32, 45, 0.75);
	border-radius: 20px;
	margin-left: 5px;
}

/*
.choose_btn:after
{
	content: "➜";
	display: block;
	position: relative;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
    width: 100%;

}
*/

.controls img
{
	margin:0px;
	padding: 0px;
}

.story
{
	position: absolute;
	color:white;
	background-color: rgba(0, 0, 0, 0.75);
	max-width: 691px;
	max-height: 691px;
	width:90%;
	height:90%;
	margin:3%;
	padding:2%;
	margin-right:1%; 
	margin-left: 1%;
	padding-left:4%;
	padding-right: 4%;
	border-radius: 25px;
	font-size: 20px;
	z-index:4;
	
	
}

.story  p 
{
	margin-top: 44px;
}

.question
{
	position: absolute;
	color:white;
	background-color: rgba(0, 0, 0, 0.75);
	max-width: 691px;
	max-height: 691px;
	width:90%;
	height:90%;
	margin:3%;
	padding:2%;
	margin-right:1%; 
	margin-left: 1%;
	padding-left:4%;
	padding-right: 4%;
	border-radius: 25px;
	font-size: 20px;
	z-index:3;

	
}

.question p 
{
	margin-top: 44px;
}

.question ul
{
	list-style:none;
	margin:0px;
	margin-top: 5%;
	padding: 0px;
}
.answer
{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	margin:10px;
	min-height: 20px;
	cursor: pointer;
	border-radius: 20px;
	padding:10px;
}

.character
{
	
	
	width:50%;
	height:45%;
	/*max-width: 310px;
	max-height:270px;*/
	background-image: url('../images/character.png');
	/*background-size: 100% auto; has to happen in the js*/
	background-repeat: no-repeat;
	background-position: bottom;
	z-index:1;

	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

#main_character
{
	position: absolute;
	left:30%;
	bottom:10%;
	
}

#characters
{
	position: absolute;
	left:-5%;
	bottom:45%;
	width: 100%;
	height:25%;


}

#characters .character
{
	display: inline-block;
	height: 100%;
}

#character_one
{
	background-image: url('../images/character_one.png');
	background: red;
	
}

#character_two
{
	margin-left: 20%;
	background-image: url('../images/character_two.png');
	background: green;
	
}

#character_three
{
	margin-left: 60%;
	margin-top: -15%;
	background-image: url('../images/character_three.png');
	background: blue;
	
}

.fadeout
{
	-webkit-opacity: 0;
  	-moz-opacity: 0;
  	opacity: 0;
}

.fadein
{
	-webkit-opacity: 1;
  	-moz-opacity: 1;
  	opacity: 1;
}

.flip_horizontal
{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.rock_animation_left
{
	-webkit-animation-name: animate_rock_left;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 700ms;
	-webkit-animation-direction: alternate;

	animation-name: animate_rock_left;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 700ms;
	animation-direction: alternate;
}

@-webkit-keyframes animate_rock_left {
  	0% {
  	-moz-transform: rotate(0deg) scale(-1, 1);
    -webkit-transform:rotate(0deg) scale(-1, 1); 
     -ms-transform:rotate(0deg) scale(-1, 1);
     -o-transform:rotate(0deg) scale(-1, 1);
	}
	25% {
	-moz-transform: rotate(10deg) scale(-1, 1);
    -webkit-transform:rotate(10deg) scale(-1, 1); 
     -ms-transform:rotate(10deg) scale(-1, 1);
     -o-transform:rotate(10deg) scale(-1, 1);
	}
	
	75% {
	-moz-transform: rotate(-5deg) scale(-1, 1);
    -webkit-transform:rotate(-5deg) scale(-1, 1); 
     -ms-transform:rotate(-5deg) scale(-1, 1);
     -o-transform:rotate(-5deg) scale(-1, 1);
	}

	100% {
	-moz-transform: rotate(10deg) scale(-1, 1);
    -webkit-transform:rotate(10deg) scale(-1, 1);
     -ms-transform:rotate(10deg) scale(-1, 1);
     -o-transform:rotate(10deg) scale(-1, 1);
	}
	
}

@keyframes animate_rock_left {
  	0% {
  	-moz-transform: rotate(0deg) scale(-1, 1);
    -webkit-transform:rotate(0deg) scale(-1, 1); 
     -ms-transform:rotate(0deg) scale(-1, 1);
     -o-transform:rotate(0deg) scale(-1, 1);
	}
	25% {
	-moz-transform: rotate(10deg) scale(-1, 1);
    -webkit-transform:rotate(10deg) scale(-1, 1); 
     -ms-transform:rotate(10deg) scale(-1, 1);
     -o-transform:rotate(10deg) scale(-1, 1);
	}
	
	75% {
	-moz-transform: rotate(-5deg) scale(-1, 1);
    -webkit-transform:rotate(-5deg) scale(-1, 1); 
     -ms-transform:rotate(-5deg) scale(-1, 1);
     -o-transform:rotate(-5deg) scale(-1, 1);
	}

	100% {
	-moz-transform: rotate(10deg) scale(-1, 1);
    -webkit-transform:rotate(10deg) scale(-1, 1); 
     -ms-transform:rotate(10deg) scale(-1, 1);
     -o-transform:rotate(10deg) scale(-1, 1);
	}
	
}

.rock_animation_right
{
	-webkit-animation-name: animate_rock_right;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 700ms;
	-webkit-animation-direction: alternate;

	animation-name: animate_rock_right;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 700ms;
	animation-direction: alternate;
}

@-webkit-keyframes animate_rock_right {
  	0% {
  	-moz-transform: rotate(0deg);
    -webkit-transform:rotate(0deg); 
     -ms-transform:rotate(0deg);
     -o-transform:rotate(0deg);
	}
	25% {
	-moz-transform: rotate(10deg);
    -webkit-transform:rotate(10deg); 
     -ms-transform:rotate(10deg);
     -o-transform:rotate(10deg);
	}
	
	75% {
	-moz-transform: rotate(-5deg);
    -webkit-transform:rotate(-5deg); 
     -ms-transform:rotate(-5deg);
     -o-transform:rotate(-5deg);
	}

	100% {
	-moz-transform: rotate(10deg);
    -webkit-transform:rotate(10deg); 
     -ms-transform:rotate(10deg);
     -o-transform:rotate(10deg);
	}
	
}

@keyframes animate_rock_right {
  	0% {
  	-moz-transform: rotate(0deg);
    -webkit-transform:rotate(0deg); 
     -ms-transform:rotate(0deg);
     -o-transform:rotate(0deg);
	}
	25% {
	-moz-transform: rotate(10deg);
    -webkit-transform:rotate(10deg); 
     -ms-transform:rotate(10deg);
     -o-transform:rotate(10deg);
	}
	
	75% {
	-moz-transform: rotate(-5deg);
    -webkit-transform:rotate(-5deg); 
     -ms-transform:rotate(-5deg);
     -o-transform:rotate(-5deg);
	}

	100% {
	-moz-transform: rotate(10deg);
    -webkit-transform:rotate(10deg); 
     -ms-transform:rotate(10deg);
     -o-transform:rotate(10deg);
	}
	
}

/*small width*/
@media only screen and (min-width:769px) and (max-width:875px)
{
	
}

/*mobile styles*/
@media only screen and (max-width:767px)
{
	
	
	
}